.toast {
    visibility: hidden;
    max-width: 100px;
    height: 50px;
    /*margin-left: -125px;*/
    margin: auto;
    background-color: #B33A3A;
    color: #fff;
    text-align: center;
    border-radius: 2px;

    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 30px;
    font-size: 17px;
    white-space: nowrap;
    display: flex;
    align-items: center;
}

.toast .img {
    width: 50px;
    height: 50px;

    float: left;

    padding-top: 5px;
    padding-bottom: 5px;

    box-sizing: border-box;


    /* background-color: #111; */
    color: #fff;
}

.toast .desc {


    color: #fff;

    padding: 16px;

    overflow: hidden;
    white-space: nowrap;
    opacity: 0;
}

.toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, expand 0.5s 0.5s forwards, shrink 0.5s 3.5s forwards, fadeout 0.5s 4s forwards;
    animation: fadein 0.5s, expand 0.5s 0.5s forwards, shrink 0.5s 3.5s forwards, fadeout 0.5s 4s forwards;
}

.toast.show .desc {
    -webkit-animation: showText 0.5s 0.5s forwards, hideText 0.5s 3.5s forwards;
    animation: showText 0.5s 0.5s forwards, hideText 0.5s 3.5s forwards;
    width: 100%;
}

.toast.show.long {
    -webkit-animation: fadein 0.5s, expand 0.5s 0.5s forwards, shrink 0.5s 5s forwards, fadeout 0.5s 5.5s forwards;
    animation: fadein 0.5s, expand 0.5s 0.5s forwards, shrink 0.5s 5s forwards, fadeout 0.5s 5.5s forwards;
}

.toast.show.long .desc {
    -webkit-animation: showText 0.5s 0.5s forwards, hideText 0.5s 5s forwards;
    animation: showText 0.5s 0.5s forwards, hideText 0.5s 5s forwards;
}

.toast.show.short {
    -webkit-animation: fadein 0.5s, expand 0.5s forwards, shrink 0.5s 2.5s forwards, fadeout 0.5s 2.5s ease-in forwards;
    animation: fadein 0.5s, expand 0.5s forwards, shrink 0.5s 2.5s forwards, fadeout 0.5s 2.5s ease-in forwards;
}

.toast.show.short .desc {
    -webkit-animation: showText 0.5s 0.25s forwards, hideText 0.5s 2.5s forwards;
    animation: showText 0.5s 0.25s forwards, hideText 0.5s 2.5s forwards;
}

.success {
    background-color: #28a745;
}

.failure {
    background-color: #dc3545;
}

.failure .desc {
    color: black;
}

.warning {
    background-color: #ffc107;
}

.warning .desc {
    color: black;
}

.info {
    background-color: #17a2b8;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes expand {
    from {
        min-width: 50px
    }

    to {
        min-width: 350px
    }
}

@keyframes expand {
    from {
        min-width: 50px
    }

    to {
        min-width: 350px
    }
}

@-webkit-keyframes shrink {
    from {
        min-width: 350px;
    }

    to {
        min-width: 50px;
    }
}

@keyframes shrink {
    from {
        min-width: 350px;
    }

    to {
        min-width: 50px;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 60px;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 60px;
        opacity: 0;
    }
}

@keyframes holdText {
    from {}

    to {}
}

@-webkit-keyframes holdText {
    from {}

    to {}
}

@keyframes showText {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes showText {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes hideText {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@-webkit-keyframes hideText {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}